*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, 
body {
    height: 100%;
    margin:0;
}



h1,h2,h3,h4,h5,h6{
    font-family: 'Shrikhand', cursive;
    font-size: 1.3em;
}

p, a, caption, li{
    font-family: 'Roboto', sans-serif;
    font-size: .83em;
}

header{
    background-color: #609691;
    margin-bottom: 10px;
}

/* Hamburger Menu Start*/

 
body
{
  margin: 0;
  padding: 0;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color:white;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #AC320A;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #0B7569;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}
/* Hamburger Menu Start*/







#home img{
    position: absolute;
   /* bottom: 0;
    top: 0;
    display:flex;
    justify-content: center;*/
    left:50%;
    top:7%;
    width: 100%;
    max-width: 8em;
    transform:translate(-50%, -50%);
}



#owner{
    position: relative;
    text-align: center;
    color: white;
}

#owner img{
    background-image:image("images/bhowner.jpg");
    height: 50%; 
    width: 100%;
    max-width: 2000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
  }

  #owner h3{
    position: absolute;
    bottom: 11px;
    left: 16px;
    color:white;
    font-size: 1em;
    text-shadow: 2px 2px 5px chocolate;
  }

  /*.title{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
   /* background: rgba(11, 117, 105, 0.9); /* Black background with 0.5 opacity */
    /*color: #f1f1f1;
    width: 30%;
    padding: 15px;
    margin-bottom: 30px;
  }*/
 

#owner p{
    font-size: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
}



main h4{
    letter-spacing: 2px;
    font-weight: 400;
    color:rgba(11, 117, 105, 0.9);
    text-align: center;
}


main h3{
    text-align: center;
    color: #0D5566; 
}

main p{
    text-align:left;
    margin:.7em;
    margin-left: 1em;
    margin-right:.5em;
    font-size: .8em;
    line-height:1.5em;
}


main li{
    margin-left: 3em;
    margin-right:1em;
    font-size: .7em;
    margin-bottom:2em;
}



footer{
    background-color: #609691;
    position:absolute;
    padding: 10px;
    width: 100%;
    color: white;
    text-align: center;
}

footer p{
    margin-top: 15px;
}







@media only screen and (max-width: 460px){

    #collapse{
        visibility: collapse;
    }

     #menuToggle{
        visibility: visible;
    }
}



@media (min-width: 461px){
    #collapse{
        visibility: visible;
    }

     #menuToggle{
        visibility: collapse;
    }

    #home img{
        visibility: collapse;
    }


    @media (min-width: 830px){
        #owner p{
            font-size: .9em;
        }
    
    
        main p{
    
            font-size: 1em;
        }
    }

    main li{
        font-size: .8em;
    }

    #owner h3{
        position: absolute;
        bottom: 11px;
        left: 16px;
        color:white;
        font-size: 1.5em;
        text-shadow: 2px 2px 5px chocolate;
      }

    
}
