* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  height: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
}
p,
a,
caption,
li {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
header {
  background-color: #609691;
  margin-bottom: 10px;
}
/* Hamburger Menu Start*/
body {
  margin: 0;
  padding: 0;
}
#menuToggle {
  display: block;
  position: relative;
  top: 20px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: #AC320A;
}
#menuToggle input {
  display: block;
  width: 10px 30px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 115px;
  background: #0B7569;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}
/* Hamburger Menu Start*/
#home img {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 100%;
  max-width: 8em;
  transform: translate(-50%, -50%);
}
.contact {
  margin: 2em;
}
.contact label {
  font-family: 'Shrikhand', cursive;
  color: #AC320A;
}
input[type=text],
select,
textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 10px;
  border: 1px solid #AC320A;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
input[type=submit] {
  background-color: #609691;
  color: white;
  padding: 10px;
}
.foot {
  background-color: #609691;
  color: white;
  padding: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
}
.foot p {
  margin-top: 15px;
}
@media only screen and (max-width: 460px) {
  #collapse {
    visibility: collapse;
  }
  #menuToggle {
    visibility: visible;
  }
}
@media (min-width: 461px) {
  #collapse {
    visibility: visible;
  }
  #menuToggle {
    visibility: collapse;
  }
  #home img {
    visibility: collapse;
  }
}
