*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, 
body {
    height: 100%;
    margin:0;
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
}

p, a{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

body{
  background-image: linear-gradient(to top, rgba(11,117,105,0.1), rgba(11,117,105,.6));
  background-repeat:no-repeat;
  background-size: cover;
}

#home img{
    margin: 2em;
    margin-left:2.4em;
    padding-top: 6em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img{
    width: 16em;
    max-width: 100%;
}

a{
    display: flex;
    justify-content: center;
    margin-top:2em;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    background-color: #0D5566;
    margin: 4em 5em;
    border-radius: 10px;
    max-width: 200px;
    min-width: 100px;
    box-shadow: 4px 4px 3px #61868F;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align:center;
}

p{
    color: #0D5566;
    text-align: center;
    font-size: .75em;
    display: flex;
    justify-content:center;
}

.cap{
    font-weight: bold;
}


footer{
    background-color: white;
    margin-top: auto;
    padding: 10px;
}



@media (min-width: 460px){
    #home img{
        margin: 2em;
        margin-left:2.4em;
        padding-top: 6em;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    img{
        width: 20em;
        max-width: 100%;
    }

    p{
        color: #0D5566;
        text-align: center;
        font-size: 1em;
        display: flex;
        justify-content:center;
    }
    
}



