// out : false




@blue:#0D5566;
@green:#0B7569;
@lightg:#609691;
@yellow: #FFC674;
@red:#AC320A;
@black:#000D04;


@head: 'Shrikhand', cursive;
@p:'Roboto', sans-serif;;



@titles: 2em;
@body: 1em;



@width: 10px;


@max: 100%;

